<h1>Edit your moment here</h1>
<div class="post-edit">
<form action="/posts/<%=post['id']%>/edit" method="post">
 <input type="hidden" name="_method" value="put">

    <textarea name="content" id="" cols="30" rows="10" placeholder="You say:"></textarea>
    <div class="upload-image">
    <input type="url" name="image_url" id="" placeholder="Post a picture: http://"></div>

   

    <button class="btn-post">Update!</button>
</div>

</form>

