<h1>Post your moment here</h1>

<form action="/moments" method="post">

    <%# <label for="">Planet Name </label>
    <input type="text" name="name" id=""> %>

    <label for="">just post a picture </label>
    <input type="url" name="image_url" id="" placeholder="http://">

    <%# <label for="">Diameter (km) </label>
    <input type="text" name="diameter"> %>

    <%# <label for="">Mass (kg) </label>
    <input type="text" name="mass"> %>

    <label for=""> or just scratch some words </label>
    <input type="text" name="user_text">

    <button>post</button>

</form>

