
<h1>My Moments</h1>

<div class="userpage">

<% usermoments.each do |usermoment| %>
<section>
    <img src="<%=usermoment['user_avatar_url']%>" alt="" class="profile-img">

    <img src="<%= usermoment["image_url"]%>" alt="">
    <p class="user-text"><%= usermoment["user_text"]%></p>
</section>

    <% if usermoment['user_text'] != nil || usermoment['img_url'] != nil%>

        <form action="/moments/<%=usermoment['id']%>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class ="del">delete</button>
        </form>

    <%else%>

        <p>Nothing to show? Say something <a href="/moments/new">here</a></p>    

    <%end%>

<% end %>
</div>